<style>
 header{
 	text-align: center;
 }
h1 {font size: 500px;}
body {
	background-image: url("insidelib.jpg");
	background-size: cover;}
	#button {
		width:100px;
		height:100px;
		border-radius:100%;
		background-color:blue;
	}
	<button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
<button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
</body>
</style>
